.eventsPage {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow-y: hidden;
}
.eventsData{
margin: 0px;
padding: 0px;
width: 86%;
height: 100%;
display: flex;
flex-direction: column;
}
.dataContainer {
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.filters{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
}
.newOrganizationButton{
    background-color: rgba(23, 122, 189, 1);
    border-radius: 5px;
    padding: 0px 10px;
    border: none;
    height: 40px;
    color: white;
    cursor: pointer;
}
.input {
    width: 500px;
    height: 40px;
    border: 2px solid rgba(230, 230, 230, 1);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
}
.statsContainer{
    width: 100%;
    height: fit-content;
    max-height: 89%;
    margin: 10px 0px;   
    border: 2px solid rgba(232, 232, 232, 1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.statsHeading{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.event{
    margin: 0px;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.event > span{
    cursor: pointer;
}
.invites{
    margin: 0px;
    width: 200px;
}
.participants{
    margin: 0px;
    width: 200px;
}
.startTime{
    margin: 0px;
    width: 150px;
}
.endTime{
    margin: 0px;
    width: 150px;
}
.status{
    margin: 0px;
    width: 150px;
}
.statsData{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    box-sizing: border-box;
    font-size: 13px;
}
.even{
    background-color: rgba(240, 240, 240, 1);
}
.paginationDiv{
    margin-top: auto;
    margin-bottom: 0px;
    width: 100%;
    height: 50px;
    border-top: 2px solid rgba(232, 232, 232, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    box-sizing: border-box;
}
.paginationDiv > p{
    margin: 0px;
    font-size: 13px;
}
.buttonsDiv{
    display: flex;
    gap: 10px;

}
.paginationButton{
    background-color: rgba(23, 122, 189, 1);
    color: white;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}